@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Tajawal&display=swap');

body {
  background-color: #F5F1ED;
  font-family: Tajawal;
  color: black;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header */
header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #DBA159;
  font-family: 'Josefin Slab';
  font-size: 25px;
  font-weight: bold;
  background-color: #DBA159;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 80px;
  height: 80px;
  padding-right: 30px;
}

nav {
  margin-right: 50px;
}

nav span {
  padding: 10px;
}

/* Links Visual Styles */
a {
  text-decoration: none;
  font-family: Tajawal;
  font-size: 16px;
  font-weight: lighter;
  color: white;
}
a:hover {
  color: black;
  text-decoration: underline;
}

/*Mission Section*/
#mission {
  background-image: url(../images/mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  padding-top: 70px;
}

#mission .content {
  background-color: #F5F1ED;
  margin: auto;
  width: 1200px;
  text-align: center;
}

/*Totom Section*/
#totom {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
  text-align: center;
}

.item {
  padding: 10px;
}

.item img {
  width: 300px;
  height: 200px;
  display: block;
}

.item span {
  display: block;
  padding: 10px;
  font-weight: bold;
  text-align: center;}

/*Locations Section*/
#locations {
  background-image: url(../images/locations-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  padding-top: 70px;
  color: white;
  text-align: center;
}

#locations .flex-container {
  margin: auto;
  width: 1100px;
}

.location {
  text-align: center;
  line-height: .2em;
  background-color: black;
  padding: 10px;
  margin: 5px 20px;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Contact Section*/
.contact {
  text-align: center;
  height: 200px;
  padding-top: 30px;
  line-height: 10px;
}

/*Footer*/
footer {
  text-align: left;
  padding-left: 20px;
}
