@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Tajawal&display=swap');
body {
  background-color: #F5F1ED;
  font-family: Tajawal;
  color: white;
}
.main {
  padding-top: 90px;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #DBA159;
  font-family: 'Josefin Slab';
  font-size: 25px;
  font-weight: bold;
  background-color: #DBA159;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 80px;
  height: 80px;
  padding-right: 30px;
}
nav {
  margin-right: 50px;
}
nav span {
  padding: 10px;
}

/* Links */
a {
  text-decoration: none;
  font-family: Tajawal;
  font-size: 16px;
  font-weight: lighter;
  color: white;
}
a:hover {
  color: black;
  text-decoration: underline;
}

/*Mission Section*/

#mission {
  background-image: url(../images/mission-background.jpg);
  height: 700px;
  padding-top: 70px;
}

#mission .content {
  background-color: #BC584D;
  margin: auto;
  width: 100%;
  text-align: center;
}

/*Totom Section*/

/*Locations Section*/
#locations {
  background-image: url(../images/locations-background.jpg);
  height: 500px;
  padding-top: 70px;
}
#locations .flex-container {
  margin: auto;
  width: 1100px;
}
.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
